* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    background-image: url(/img/bg.webp);
    background-size: 110vw 100vh;
    padding-top: 2vh;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    margin-bottom: 15px;
}

#playfield {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 15px;
}

#frageFeld {
    padding: 10px;
    color: white;
    background-color: rgb(245, 94, 225,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 53vh;

    margin-bottom: 15px;
}

#frageFeld button {
    border: white 2px solid;
    border-radius: 5px;
    padding: 15px;
    background-color: rgb(245, 94, 225);
    color: white;
    margin: 0 20px;
}

#frageFeld button:hover {
    cursor: pointer;
}

#kategorien {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;

    color: white;
}

.kategorie{
    background-color: rgb(245, 94, 225,0.8);
    height: 7vh;
    width: 12vw;

    font-size: 3vh;

    border-radius: 8px;
    border: 2px white solid;

    display: flex;
    align-items: center;
    justify-content: center;
}

.feld {
    background-color: rgb(245, 94, 225,0.4);
    height: 9vh;
    width: 12vw;

    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 6vh;
}

.feld:hover{
    cursor: pointer;
}

#players {
    display: flex;
    justify-content: space-around;
}

.playercard {
    height: 30vh;
    width: 20vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#playerActive{
    border: 3px yellow solid;
}

.playerpic {
    border: 1px solid black;
    height: 16vh;
    width: 80%;
}

.playerpic img{
    height: 100%;
}

.playerbottom{
    color: white;
    background-color: rgb(245, 94, 225,0.4);
    height: 8vh;
    width: 100%;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 4vh;
}

.frageActive {
    opacity: 0%;
}

.kirby {
    background-color: rgba(241, 176, 214, 0.466);
}

.melinda{
    background-color: rgba(240, 235, 172, 0.493);
}

.goldini{
    background-color: rgba(245, 148, 69, 0.493);
}

.lucario{
    background-color: rgba(147, 203, 255, 0.493);
}